# General
*.o
.*.swp
parser/parser.output
parser/parser.tab.*

# Lexer
lexer/lex.yy.*
lexer/lexer.yy.*
lexer/lexer

# Parser
parser/parser

# L-interpreter
interpreter/l-interpreter

# Combinator
combinator/__pycache__/*
